body {
	background-color: #1A2325;
	margin: 0px;
}

div#top_line {
	background-color: #F8695A;
    height: 2px;
}

div#logo_box {
	background-color: #F8695A;
    height: 35px;
    width: 50px;
    color: #FFF;
    margin-left: 76px;
    padding-left: 18px;
    text-align: center;
    padding-right: 18px;
    padding-top: 50px;
}

div#item_container{
	margin: 50px;
}

h2, .price{
	color: #fff;
	font-family: 'quatro-slab';
}

h2 {
	font-family: 'quatro-slab';
	font-weight: 100;
	font-size: 30px;
    margin-bottom: 0px;
}
h3 {
	color: #494F50;
	width: 300px;
	margin-top: 10px;
    font-family: 'lft-etica';
    font-weight: 100;
    font-size: 14px;
}

p {
	color: #AAACAC;
	width: 400px;
	font-family: 'lft-etica';
	font-weight: 100;
    line-height: 23px;
    display: inline;
}

button {
	color: #fff;
	background-color: #02BCBF;
	width: 115px;
    height: 40px;
    border: solid 1px #4DD9DA;
    cursor: pointer;
    margin-left: 15px;
}

a {
	font-family: 'lft-etica';
	color: #02BCBF;
	text-decoration: none;
}

.price_and_buy {
	padding-top: 45px;
}

.item_holder {
	width: 100%;
	height: 650px;
	padding-bottom: 100px;
}

.data_holder{
	float: left;
	width: 33%;
	margin-left: 5%;
	min-width: 350px

}
.photo_holder{
	display: block;
	width: 500px;
	height: 600px;
	margin-right: 100px;
	margin-left: 75px;
	background-color: white;
	float: right;
}

.before_image, .after_image {
	float: left;
	width: 33%;
	min-width: 350px;
}

.paragraph_space {
	height: 13px;
}

.spacer {
	height: 30px;
}

@media screen and (max-width: 1125px) {
	.photo_holder{
		margin-left: 5px;
		margin-right: 200px;
		margin-top: 10px;
		margin-bottom: 20px;
		width: 100%;
		float: left;
		background-color: purple;
	}
	.item_holder{
		height: 1000px;
	}

	.before_image, .after_image{
		width: 100%;
	}
}

@media screen and (max-width: 840px){
	.photo_holder{
		margin-left: 0px;
		margin-top: 10px;
		margin-bottom: 20px;
		width: 100%;
		background-color: blue;
		margin-right: 150px;
	}
}

@media screen and (max-width: 450px){
	.item_holder {
		height: 1200px;
	}

}