body {
	background-color: #1A2325;
	margin: 0px;
}

div#top_line {
	background-color: #F8695A;
    height: 2px;
}

div#logo_box {
	background-color: #F8695A;
    height: 35px;
    width: 50px;
    color: #FFF;
    margin-left: 76px;
    padding-left: 18px;
    text-align: center;
    padding-right: 18px;
    padding-top: 50px;
}

div#items_container{
	margin: 30px;
}

/* items within the items_container*/

/* 2 major containers, for item, photo and data */
.item_holder {
	width: 100%;
	height: 650px;
}

.photo_holder {
	display: block;
	width: 500px;
	height: 600px;
	margin-right: 3%;
	background-color: white;
	float: right;
}

/*styles for both the item before and after the image on small screen*/
.before_image, .after_image {
	float: left;
	width: 33%;
	min-width: 250px;
}

/* items in before_image */
h2 {
	color: #fff;
	font-family: 'quatro-slab';
	font-weight: 100;
	font-size: 30px;
    margin-bottom: 0px;
}

h3 {
	color: #494F50;
	width: 300px;
	margin-top: 10px;
    font-family: 'lft-etica';
    font-weight: 100;
    font-size: 14px;
}

/* Items in after image */
p {
	color: #AAACAC;
	width: 400px;
	font-family: 'lft-etica';
	font-weight: 100;
    line-height: 23px;
    display: inline;
}

.paragraph_space {
	height: 13px;
}

.link_spacer {
	height: 30px;
}

a {
	font-family: 'lft-etica';
	color: #02BCBF;
	text-decoration: none;
}

/* Button and price container */
.price_and_buy {
	padding-top: 45px;
}

.price{
	color: #fff;
	font-family: 'quatro-slab';
}

button {
	color: #fff;
	background-color: #02BCBF;
	width: 115px;
    height: 40px;
    border: solid 1px #4DD9DA;
    cursor: pointer;
    margin-left: 15px;
}

/* line between items */
hr {
	border: .5px solid #31393B;
    margin-bottom: 55px;
}

/* media queries */
@media screen and (max-width: 900px) {
	.photo_holder{
		margin-left: 5px;
		margin-right: 200px;
		margin-top: 10px;
		margin-bottom: 20px;
		width: 100%;
		float: left;
		background-color: #a5d2c1;
	}
	.item_holder{
		height: 1000px;
	}

	.before_image, .after_image{
		width: 100%;
	}
}

@media screen and (max-width: 840px) {
	.photo_holder{
		margin-left: 0px;
		margin-top: 10px;
		margin-bottom: 20px;
		width: 100%;
		background-color: #bfd2a5;
		margin-right: 150px;
	}
	.item_holder{
		height: 1100px;
	}
}

@media screen and (max-width: 450px) {
	.item_holder {
		height: 1300px;
	}
}
